@use "./theme/colors.scss" as *;
@use "./base/fonts.scss" as *;

.ProductPage-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


    .ProductPage-search-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 14px;

    
        svg {
            color: $green-color;
            font-size: 2rem;
            cursor: pointer;
        }
    
    }

    .all-site-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: $font;
        color: $white-color;
        margin-top: 20px;

        .all-product {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
            border-radius: 10px;
            width: 90%;
            font-size: 0.6rem;
            gap: 10px;
            padding: 10px;

            img {
                width: 170px;
                height: 230px;
                border-radius: 10px;
            }

            .all-product-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
            }

        }

    }

}

